body { /* 整頁內容致中 */
    text-align: center;
}

nav { /* nac區(頂上連結區藍底，上下空間加大) */
    background-color: steelblue;
    padding: 10px;
}

a { /* 連結轉白，間隔加大 */
    color: white;
    margin: 40px;
}

h1 { /* 主題字改藍 */
    color: steelblue;
}

img { /* 圖片改變大小，加上有色邊框 */
    width: 800px;
    border: 4px solid steelblue;
}

p {
    padding: 10px;
}

footer { /* 註腳背景，文字顏色 */
    background-color: steelblue;
    color: white;
}